@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
} */
body {
  width: 100vw;
}

/* .App {
  text-align: center;
} */
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.aside-left {
  background-color: rgb(107, 108, 142);
  width: 30%;
}
.aside-left img {
  height: 99%;
  width: 100%;
}
.aside-right {
  background-color: #ffffff;
  width: 70%;
  height: 100%;
}
.aside-right .right-content {
  width: 78%;
  margin-left: 81px;
}
.aside-right .plan {
  color: #0015ff;
}
.aside-right h1 {
  font-size: 61.44px;
  margin-top: 84px;
  line-height: 92.16px;
  font-weight: 500;
}
/* .aside-right p {
  margin-top: 30px;
} */
.aside-right .TodoForm {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.aside-right .TodoForm select {
  background-color: #efefef;
  width: 180px;
  height: 60px;
  outline: none;
  border: none;
  border-bottom: 2px solid #0015ff;
  text-align: center;
}
.aside-right .TodoForm input {
  background-color: #efefef;
  width: 646px;
  margin-left: 12px;
  outline: none;
  border: none;
  border-bottom: 2px solid #0015ff;
  padding-left: 30px;
}

.aside-right .TodoForm button {
  background: #0015ff;
  color: white;
  width: 150px;
  margin-left: 12px;
  border: #0015ff;
  outline: none;
}

.nav {
  display: flex;
  width: 560px;
  flex-direction: row;
  justify-content: start;
}

.nav-content {
  margin-top: 25px;
  background-color: #efefef;
  width: 100px;
  height: 47px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000000;
  border: 1px solid black;
  margin-right: 10px;
  border: none;
  border-bottom: 3px solid #0015ff;
}
.nav-content:last-child {
  margin-right: 0;
}
.nav .all {
  background-color: #0015ff;
  color: white;
  border: none;
  border-bottom: 3px solid #000000;
}
/* Apply styles to icons within .nav-content */
.nav-content .all .svg-inline--fa {
  color: white;
}
/* Apply styles to icons within .nav-content */
.nav-content .otherFa .svg-inline--fa {
  color: #0015ff;
}
.new-todo {
  width: 96%;
  height: 2.5rem;
  margin-top: 1.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  border: 3px solid #0015ff;
}
.new-todo .index {
  background-color: #efefef;
  width: 7%;
  height: 44px;
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.new-todo .task {
  background-color: #efefef;
  width: 83%;
  display: flex;
  align-items: center;
  height: 44px;
  margin-right: 15px;
}
.new-todo .buttons {
  /* background-color: #efefef; */
  width: 10%;
  height: 44px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.new-todo .buttons .edit-fa {
  margin-right: 20px;
  background-color: #efefef;
  color: blue;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.new-todo .buttons .delete-fa {
  background-color: #efefef;
  color: red;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
} */

/* .TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
} */

/* .TodoForm {
  width: 100%;
  margin-bottom: 1rem;
} */

/* .todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
} */

/* .todo-input::placeholder {
  color: #ffffff4d;
} */

/* .todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
} */

/* .Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
} */

/* .fa-trash {
  margin-left: 0.75rem;
} */

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
